/* Tree */
.tree-node-selected {
  background: rgba(144, 216, 245, 0.62);
}

/* Window buttons */
.window .panel-tool a {
  margin: 0 4px;
}

.window-mask {
  opacity: 0.1;
  background: rgba(99, 88, 167, 0.76);
}
